<!DOCTYPE html>
<html>
<head>
    <title>Meadowlark Travel</title>
</head>
<body>
    <header>
        <img src="/img/girl.jpg" alt="Meadowlark Travel Girl" width="300">
    </header>
    {{{body}}}
    <footer>Web development with Node and Express</footer>
</body>
</html>